<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.password">admin</property>
        <property name="hibernate.connection.url">jdbc:postgresql://127.0.0.1:5432/banco</property>
        <property name="hibernate.connection.username">postgres</property>
        <mapping resource="com/vobi/banco/modelo/TiposUsuarios.hbm.xml" />
        <mapping resource="com/vobi/banco/modelo/Clientes.hbm.xml" />
        <mapping resource="com/vobi/banco/modelo/TiposDocumentos.hbm.xml" />
        <mapping resource="com/vobi/banco/modelo/Usuarios.hbm.xml" />
        <mapping resource="com/vobi/banco/modelo/Cuentas.hbm.xml" />
        <mapping resource="com/vobi/banco/modelo/Retiros.hbm.xml" />
        <mapping resource="com/vobi/banco/modelo/Consignaciones.hbm.xml" />
    </session-factory>
</hibernate-configuration>
